* {
  font-family: "Teko", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header .navbar-brand {
  transition: all 0.25s;
}

header .navbar-brand:hover {
  filter: grayscale(1) contrast(5);
}

header .nav-link {
  color: #464749;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

header .nav-link:hover {
  color: #0282f9;
}

header .nav-link.active {
  color: #0282f9;
}

header .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -41px;
  width: 100%;
  height: 5px;
  background-color: #0282f9;
}

main {
  min-height: 500px;
  background-color: #1c1c1c;
  color: white;
}

main .jumbotron {
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-position: top;
  height: 400px;
}

main .main-content {
  min-height: 300px;
}

main .main-content .group-tag {
  border: 0;
  background-color: #0282f9;
  padding: 0 40px;
  text-transform: uppercase;
  color: white;
  cursor: default;
}

main .main-content .group-tag.position-absolute {
  transform: translate(0, -50%);
}

main .main-content .group-tag.btn:hover {
  color: #464749;
  cursor: pointer;
}

